In [37]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn 

import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import svm

In [17]:
trainData = pd.read_csv("npf_train.csv")
class2 = np.array(["event"]*trainData.shape[0],dtype="object")
class2[trainData["class4"]=="nonevent"] = "nonevent"
trainData["class2"] = class2
trainData["class2"] = trainData["class2"].astype("category")

trainData = trainData.set_index("date")
trainData["class4"] = trainData["class4"].astype("category")
trainData = trainData.drop(["id", "partlybad"],axis=1)

trainData.insert(0, 'class22', trainData['class2'])
trainData = trainData.drop(columns='class2')
trainData = trainData.rename(columns={'class22': 'class2'})

trainData['Result'] = trainData['class2'].map(lambda x: x == "event")
trainData['Result'] = trainData['Result'].astype(int)
trainData.insert(0, 'resultV', trainData['Result'])
trainData = trainData.drop(columns='Result')
trainData = trainData.rename(columns={'resultV': 'result'})
trainData.head(3)

,result,class2,class4,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,CO2504.mean,...,T672.mean,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean,CS.std
date,,,,,,,,,,,,,,,,,,,,,
2000-01-17,1,event,Ib,368.771711,0.310309,368.665658,0.305127,369.371184,0.333606,368.616053,...,-1.476016,0.250952,-0.899393,0.271648,2.492491,1.310880,0.031587,0.018122,0.000243,0.000035
2000-02-28,0,nonevent,nonevent,378.197295,1.001493,378.083089,1.025472,378.671311,1.017208,378.029508,...,1.479493,0.313460,2.033191,0.271090,0.295937,0.177836,0.005140,0.003552,0.003658,0.000940
2000-03-24,1,event,Ib,373.043158,0.749865,372.930066,0.728411,373.569735,0.835240,372.869868,...,-0.270844,2.037111,0.780422,2.334741,14.434789,8.627312,0.353743,0.272472,0.000591,0.000191

In [22]:
from sklearn.model_selection import train_test_split

X = trainData.iloc[:, 3:-1]
y = trainData.iloc[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [43]:
kernel_types = ["linear", "poly", "rbf", "sigmoid"]
results = pd.DataFrame(columns = ['Kernel_type', 'Accuracy', 'Precision', 'Recall'])

for k in kernel_types:
    clf = svm.SVC(kernel=k) 
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    results.loc[len(results.index)] = [k, 
                                       metrics.accuracy_score(y_test, y_pred), 
                                       metrics.precision_score(y_test, y_pred),
                                       metrics.recall_score(y_test, y_pred)]
results

  Kernel_type  Accuracy  Precision    Recall
0      linear  0.903226   0.900000  0.918367
1        poly  0.752688   0.740741  0.816327
2         rbf  0.752688   0.732143  0.836735
3     sigmoid  0.741935   0.727273  0.816327

In [45]:
poly_degrees = pd.DataFrame(columns = ['Polynomial_degree', 'Accuracy', 'Precision', 'Recall'])
for x in range(1, 21):
    clf = svm.SVC(kernel='poly', degree=x) 
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    poly_degrees.loc[len(poly_degrees.index)] = [x, 
                                       metrics.accuracy_score(y_test, y_pred), 
                                       metrics.precision_score(y_test, y_pred),
                                       metrics.recall_score(y_test, y_pred)]
poly_degrees

    Polynomial_degree  Accuracy  Precision    Recall
0                 1.0  0.709677   0.711538  0.755102
1                 2.0  0.741935   0.735849  0.795918
2                 3.0  0.752688   0.740741  0.816327
3                 4.0  0.774194   0.759259  0.836735
4                 5.0  0.763441   0.754717  0.816327
5                 6.0  0.784946   0.784314  0.816327
6                 7.0  0.784946   0.795918  0.795918
7                 8.0  0.817204   0.847826  0.795918
8                 9.0  0.817204   0.847826  0.795918
9                10.0  0.806452   0.860465  0.755102
10               11.0  0.817204   0.880952  0.755102
11               12.0  0.817204   0.900000  0.734694
12               13.0  0.817204   0.900000  0.734694
13               14.0  0.806452   0.897436  0.714286
14               15.0  0.806452   0.897436  0.714286
15               16.0  0.817204   0.921053  0.714286
16               17.0  0.827957   0.923077  0.734694
17               18.0  0.838710   0.925000  0.755102
18               19.0  0.838710   0.925000  0.755102
19               20.0  0.838710   0.925000  0.755102